* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    font-style: none;
}
:root {
	--color-jumbotron-blue: #b4d0e7;
	--color-footer: #000000;
	--color-button-blue: #0061ff;
	--color-yellow: #ffd830;
	--color-dark-red: #d5001f;
	--color-lonely-planet: #0d2481;
	--color-designit: #f5f5f5;
	--color-asu: #61082b;
	--color-florida: #0093ce;
	--color-designit-green: #a2d39b;
}
/* header navbar */

.padding{
    padding: 30px 0px 30px 0px;
}
.fixed {
    position: fixed;
}
.flex{
    display: flex;
}
.fd-row {
  flex-direction: row;  
}
.s-between{
    justify-content: space-between;
}
.navbar {
    align-items: center;
    height:60px;
    overflow: hidden;
    background-color:var(--color-designit);
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    display: block;
    color:var(--color-footer);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background:lightgray;
    color: black;
}
.nav-button{
    width: 75px;
    height: 30px;
    background-color:var(--color-button-blue);
    border: var(--color-button-blue);
    color: var(--color-designit);
    font-weight: 600;
    margin: 10px 20px;
}
.container-hero{
    width: 100vw;
    height: 740px;
    padding-top: 100px;
    background-color: var(--color-jumbotron-blue);
}

.hero{
    max-width: 1200px;
    margin: 0 auto;
}

.left{
   width: 40%;
}
.right{
   width: 60%
}
.right img{
    width: 100%;
    position: relative;
    padding-top: 20px;
}
.hero-button{
    background-color:var(--color-button-blue);
    border: var(--color-button-blue);
    color: var(--color-designit);
    font-weight: 600;
    padding: 10px;
}
h1{
    font-size: 80px;
    max-width: 1200px;
    margin: 0 auto;
}
.left i {
    font-size: 50px;
}








