* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
}
ul{
    list-style-type: none;
}
:root {
	--color-jumbotron-blue: #b4d0e7;
	--color-footer: #000000;
	--color-button-blue: #0061ff;
	--color-yellow: #ffd830;
	--color-dark-red: #d5001f;
	--color-lonely-planet: #0d2481;
	--color-designit: #f5f5f5;
	--color-asu: #61082b;
	--color-florida: #0093ce;
	--color-designit-green: #a2d39b;
}
.strong{
    font-weight: 650;
}
.margin-h{
    margin: 40px 0px 40px 0px;
}
.margin-w{
    margin:0px 40px 0px 40px;
}
.padding{
    padding: 40px;
}
.padding-h30{
    padding: 30px 0px 30px 0px;
}
.padding-h10{
    padding: 10px 0px 10px 0px;
}
.fixed {
    position: fixed;
}
.flex{
    display: flex;
}
.fd-row {
  flex-direction: row;  
}
.s-between{
    justify-content: space-between;
}
.navbar {
    align-items: center;
    height:60px;
    top: 0;
    width: 100%;
    background-color:var(--color-designit);
    position: fixed;
    z-index: 1000;
}
.navbar a {
    display: block;
    color:var(--color-footer);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background:lightgray;
    color: black;
}
.nav-button{
    width: 75px;
    height: 30px;
    background-color:var(--color-button-blue);
    border: var(--color-button-blue);
    color: var(--color-designit);
    font-weight: 600;
    margin: 10px 20px;
}
.container-hero{
    width: 100vw;
    height: 740px;
    padding-top: 100px;
    background-color: var(--color-jumbotron-blue);
}
.hero{
    max-width: 1200px;
    margin: 0 auto;
}
.left{
   width: 40%;
}
.right{
   width: 60%
}
.right img{
    width: 100%;
    position: relative;
    padding-top: 20px;
}
.hero-button{
    background-color:var(--color-button-blue);
    border: var(--color-button-blue);
    color: var(--color-designit);
    font-weight: 600;
    padding: 10px;
}
h1{
    font-size: 80px;
    max-width: 1200px;
    margin: 0 auto;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.left i {
    font-size: 50px;
}
.main{
    max-width: 1200px;
    margin: 0 auto;
}
.section-one{
    padding-top: 40px;
}
.radio{
    margin-right: 40px;
    display: inline;
}
.section-two{
    display: flex;
    justify-content: space-between;
}
.border-bottom {
    height: 40px;
    border-bottom: 1px solid black;
}
.border-bottom i {
    padding: 12px;
    justify-content: center;
}
.row-h{
    border: 1px solid black;
    width: calc(100% / 3);
    height: 1000px;
}
.inline{
    display: inline;
}
.width{
    width: 100%;
}
.underline{
    border-bottom: 1px solid black;
    width: 60px;
}







